<div class="container">
    <h1>Doctor Home</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <p>
                    <strong>id</strong>: 595054c5463cb01100ecd7c1<br>
                    <strong>name</strong>: test<br>
                    <strong>email</strong>: test@test.com<br>
                    <strong>role</strong>: patient<br>
                    <strong>total score</strong>: 65/100<br>
                </p>
                <img class="img-responsive" src="images/graph1.png">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <p>
                    <strong>id</strong>: 59506b4f262290ceb1b53e83<br>
                    <strong>name</strong>: example<br>
                    <strong>email</strong>: example@example.com<br>
                    <strong>role</strong>: patient<br>
                    <strong>total score</strong>: 85/100<br>
                </p>
                <img class="img-responsive" src="images/graph3.gif">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <p>
                    <strong>id</strong>: 59506e2e7c78d975b31bc88b<br>
                    <strong>name</strong>: testing<br>
                    <strong>email</strong>: testing@testing.com<br>
                    <strong>role</strong>: patient<br>
                    <strong>total score</strong>: 90/100<br>
                </p>
                <img class="img-responsive" src="images/graph2.png">
            </div>
        </div>
    </div>
</div>