<h1 class="text-center">General Questions</h1>

<p>1. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your level of forgetfulness?</p>
<div class="btn-group hidden-xs">
    <button type="button" class="btn btn-danger">1 (Completely Forgetful)</button>
    <button type="button" class="btn btn-warning">2 (Somewhat Forgetful)</button>
    <button type="button" class="btn btn-default">3 (Little Memory Retention)</button>
    <button type="button" class="btn btn-info">4 (Little Retaining Memory)</button>
    <button type="button" class="btn btn-success">5 (Full Rememberance)</button>
</div>
<div class="btn-group-vertical visible-xs">
    <button type="button" class="btn btn-danger">1 (Completely Forgetful)</button>
    <button type="button" class="btn btn-warning">2 (Somewhat Forgetful)</button>
    <button type="button" class="btn btn-default">3 (Little Memory Retention)</button>
    <button type="button" class="btn btn-info">4 (Little Retaining Memory)</button>
    <button type="button" class="btn btn-success">5 (Full Rememberance)</button>
</div>
</br></br>

<p>2. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your daily happiness?</p>
<div class="btn-group hidden-xs">
    <button type="button" class="btn btn-danger">1 (Consistently Sad)</button>
    <button type="button" class="btn btn-warning">2 (Somewhat Sad)</button>
    <button type="button" class="btn btn-default">3 (Neutral Feelings)</button>
    <button type="button" class="btn btn-info">4 (Somewhat Happy)</button>
    <button type="button" class="btn btn-success">5 (Consistently Happy)</button>
</div>
<div class="btn-group-vertical visible-xs">
    <button type="button" class="btn btn-danger">1 (Consistently Sad)</button>
    <button type="button" class="btn btn-warning">2 (Somewhat Sad)</button>
    <button type="button" class="btn btn-default">3 (Neutral Feelings)</button>
    <button type="button" class="btn btn-info">4 (Somewhat Happy)</button>
    <button type="button" class="btn btn-success">5 (Consistently Happy)</button>
</div>
</br></br>

<p>3. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe the level of help from others around you?</p>
<div class="btn-group hidden-xs">
    <button type="button" class="btn btn-danger">1 (Complete Neglect)</button>
    <button type="button" class="btn btn-warning">2 (Very Little Help)</button>
    <button type="button" class="btn btn-default">3 (Somewhat Helpful)</button>
    <button type="button" class="btn btn-info">4 (Regularly Helpful)</button>
    <button type="button" class="btn btn-success">5 (Consistently Helpful)</button>
</div>
<div class="btn-group-vertical visible-xs">
    <button type="button" class="btn btn-danger">1 (Complete Neglect)</button>
    <button type="button" class="btn btn-warning">2 (Very Little Help)</button>
    <button type="button" class="btn btn-default">3 (Somewhat Helpful)</button>
    <button type="button" class="btn btn-info">4 (Regularly Helpful)</button>
    <button type="button" class="btn btn-success">5 (Consistently Helpful)</button>
</div>
</br></br>

<p>4. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your level reliance on others?</p>
<div class="btn-group hidden-xs">
    <button type="button" class="btn btn-danger">1 (Very Reliant)</button>
    <button type="button" class="btn btn-warning">2 (Somewhat Reliant)</button>
    <button type="button" class="btn btn-default">3 (Neutral/Middle)</button>
    <button type="button" class="btn btn-info">4 (Rarely Reliant)</button>
    <button type="button" class="btn btn-success">5 (Not Reliant at All)</button>
</div>
<div class="btn-group-vertical visible-xs">
    <button type="button" class="btn btn-danger">1 (Very Reliant)</button>
    <button type="button" class="btn btn-warning">2 (Somewhat Reliant)</button>
    <button type="button" class="btn btn-default">3 (Neutral/Middle)</button>
    <button type="button" class="btn btn-info">4 (Rarely Reliant)</button>
    <button type="button" class="btn btn-success">5 (Not Reliant at All)</button>
</div>
</br></br>

<p>5. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your commitment to treating your disease?</p>
<div class="btn-group hidden-xs">
    <button type="button" class="btn btn-danger">1 (No Commitment At All)</button>
    <button type="button" class="btn btn-warning">2 (Lacking Effort of Commitment)</button>
    <button type="button" class="btn btn-default">3 (Inconsistently Committed)</button>
    <button type="button" class="btn btn-info">4 (Somewhat Committed)</button>
    <button type="button" class="btn btn-success">5 (Complete Commitment)</button>
</div>
<div class="btn-group-vertical visible-xs">
    <button type="button" class="btn btn-danger">1 (No Commitment At All)</button>
    <button type="button" class="btn btn-warning">2 (Lacking Effort of Commitment)</button>
    <button type="button" class="btn btn-default">3 (Inconsistently Committed)</button>
    <button type="button" class="btn btn-info">4 (Somewhat Committed)</button>
    <button type="button" class="btn btn-success">5 (Complete Commitment)</button>
</div>
</br></br>

<button type="button" class="btn btn-primary" onclick="location.href = '/math-questions'">Next</button>