<h1 class="text-center">General Questions</h1>

<p>1. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your level of forgetfulness?</p>
<div class="row">
<div class="col-xs-12">
<button type="button" class="btn btn-danger">1 (Completely Forgetful)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-warning">2 (Somewhat Forgetful)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-default">3 (Little Memory Retention)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-info">4 (Little Retaining Memory)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-success">5 (Full Rememberance)</button>
</div></div></br></br>


</br><p>2. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your daily happiness?</p>
<div class="row">
<div class="col-xs-12">
<button type="button" class="btn btn-danger">1 (Consistently Sad)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-warning">2 (Somewhat Sad)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-default">3 (Neutral Feelings)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-info">4 (Somewhat Happy)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-success">5 (Consistently Happy)</button>
</div></div></br></br>


</br><p>3. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe the level of help from others around you?</p>
<div class="row">
<div class="col-xs-12">
<button type="button" class="btn btn-danger">1 (Complete Neglect)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-warning">2 (Very Little Help)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-default">3 (Somewhat Helpful)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-info">4 (Regularly Helpful)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-success">5 (Consistently Helpful)</button>	
</div></div></br></br>


</br><p>4. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your level reliance on others?</p>
<div class="row">
<div class="col-xs-12">
<button type="button" class="btn btn-danger">1 (Very Reliant)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-warning">2 (Somewhat Reliant)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-default">3 (Neutral/Middle)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-info">4 (Rarely Reliant)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-success">5 (Not Reliant at All)</button>
</div></div></br></br>


</br><p>5. On a scale of 1 - 5, 1 being the worst, 5 being the best, how would you describe your commitment to treating your disease?</p>
<div class="row">
<div class="col-xs-12">
<button type="button" class="btn btn-danger">1 (No Commitment At All)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-warning">2 (Lacking Effort of Commitment)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-default">3 (Inconsistently Committed)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-info">4 (Somewhat Committed)</button>
</div></div>

<div class="row">
<div class="col-xs-12">
</br><button type="button" class="btn btn-success">5 (Complete Commitment)</button>
</div></div></br></br></br></br></br>

</br><button type="button" class="btn btn-primary">Submit</button>
</br></br></br></br></br>