<h1 class="text-center">Math Questions</h1>

<p>1. Addition: What is 2 + 2 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">4</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">6</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">7</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">1</button>
    </div>
</div>

</br>
<p>2. Addition: What is 5 + 7 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">10</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">15</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">12</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">8</button>
    </div>
</div>

</br>
<p>3. Addition: What is 15 + 10 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">12</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">17</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">8</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">25</button>
    </div>
</div>

</br>
<p>4. Subtraction: What is 10 - 7 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">0</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">3</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">4</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">7</button>
    </div>
</div>

</br>
<p>5. Subtraction: What is 6 - 4 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">1</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">2</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">0</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">4</button>
    </div>
</div>

</br>
<p>6. Subtraction: What is 50 - 25 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">10</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">20</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">30</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">25</button>
    </div>
</div>

</br>
<p>7. Multiplication: What is 7 x 3 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">21</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">42</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">30</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">10</button>
    </div>
</div>

</br>
<p>8. Multiplication: What is 20 x 0 = ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">20</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">15</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">0</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">10</button>
    </div>
</div>

</br>
<p>9. Division: What is 9 / 3 ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">3</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">7</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">9</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">12</button>
    </div>
</div>

</br>
<p>10. BONUS Division: 100 / 20 ?</p>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-default">10</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">20</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">5</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        </br><button type="button" class="btn btn-default">12</button>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>

</br><button type="button" class="btn btn-primary">Submit</button>
</br>
</br>
</br>
</br>
</br>