

<h1 class="text-center">Memory Game</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-pill-capsules.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-brain.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-brain.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-pill-capsules.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-syringe.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-syringe.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="">
                <img class="img-responsive" src="/images/game-lilly-script.jpg" alt="">
            </a>
        </div>
    </div>
</div>

</br>
<button type="button" class="btn btn-primary center-block" onclick="location.href = '/thank-you'">Complete!</button>