<div class="container">
    <h1 class="text-center">Profile Page</h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>id</strong>: {{user._id}}<br>
                        <strong>name</strong>: {{user.local.name}}<br>
                        <strong>email</strong>: {{user.local.email}}<br>
                        <strong>role</strong>: {{user.local.role}}<br>
                    </p>
            </div>
        </div>

    </div>

</div>